body {
    background-image: url("https://github.com/Inej-Saja-Diaspro/Main/assets/114262373/4716f3ba-d342-4739-ae73-e8c16f88b6bd.png");
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.headers {
    background-color: rgba(255,255,255,0.5);
    text-shadow: black, 2cm;
}

#Regist_item {
    background-color: rgba(255, 255, 255, 0.650);
}

.test {
    background-color: rgba(255, 255, 255, 0.650);
    text-shadow: black, 2cm;
    
}

.card {
    background-color: rgba(255, 255, 255, 0.650);
    padding: 20px;
    margin: 20px;
}

/*fix this shit*/
